.AnimateText {
  position: relative;
  width: 230px;

  &__word {
    position: absolute;
    white-space: pre;
    opacity: 0;
    font-size: 50px;

    &_active {
      opacity: 1;

      .AnimateText__letter {
        transform: rotateX(-90deg);
      }
    }

    &_prev {
      opacity: 1;

      .AnimateText__letter {
        transform: rotateX(0deg);
      }
    }
  }

  &__letter {
    display: inline-block;
    position: relative;
    transform: translateZ(25px);
    transform-origin: 50% 50% 25px;

    &_out {
      animation: 0.38s hide cubic-bezier(0.55, 0.055, 0.675, 0.19) forwards;
    }
    &_in {
      animation: 0.32s show cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
    }
  }
}

@keyframes hide {
  0% {
    transform: rotateX(0deg);
  }
  100% {
    transform: rotateX(90deg);
  }
}
@keyframes show {
  0% {
    transform: rotateX(-90deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}
