.Home {
  width: 100%;
  height: 100%;
  display: flex;
  background-image: url("./mainFon.gif");
  background-size: cover;
  background-position-x: right;
  background-position-y: bottom;

  &__title {
    margin-top: 60px;
    margin-left: 50px;

    p:first-child {
      font-size: 50px;
      font-weight: 700;
    }

    p:last-child {
      font-size: 20px;
    }
  }
}
