.LearnBook {
  height: 100%;

  &__lines {
    // TODO: сделать как-то динамический рассчёт высоты. Пока что будем просто вычетать высоту Nav
    height: calc(100% - 58px);
    overflow-y: scroll;

    &::-webkit-scrollbar {
      width: 10px;
    }

    &::-webkit-scrollbar-track {
      background-color: #ffffff;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 5px;
      background: linear-gradient(180deg, #838383, #333333);
    }
  }
}
