@import "_constans";
@import "_general";

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
}

.App {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  position: relative;

  &__mainContent {
    //width: calc(100% - @widthNavigation);
    height: 100%;
    flex: 1;
  }
}
