@import "_constans";
@import "_general";

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
}

.App {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  position: relative;

  &__navigation {
    width: @widthNavigation;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 9px 16px;
    box-sizing: border-box;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #f1f1f1;
    box-shadow: 3px 4px 8px 0 rgba(34, 60, 80, 0.2);
    text-align: center;

    &Menu {
      a {
        margin: 5px 0;
        font-size: 18px;
      }
    }

    &Options {
      p {
        margin: 5px 0;
        font-size: 18px;
      }
    }

    &Title {
      font-size: 28px;
      margin-bottom: 35px;
      margin-top: 10px;
      font-weight: bold;
      color: #333;
      text-align: left;
    }
  }

  &__mainContent {
    width: calc(100% - @widthNavigation);
    height: 100%;
  }
}
