.ProjectInfo {
  max-width: 625px;
  width: 100%;
  display: flex;
  flex-direction: column;

  &__tags {
    display: flex;
    flex-direction: row;
  }

  &__tag {
    margin: 0 10px;
    background-color: #dae2ff;
    padding: 3px 18px;
    border-radius: 6px;

    p {
      color: #026be5;
      font-weight: 600;
    }

    &:first-child {
      margin-left: 0;
    }
  }

  &__name {
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    margin-top: 20px;
  }

  &__wrapper {
    margin-top: 20px;

    & > p:first-child {
      font-size: 23px;
      font-weight: 700;
    }

    & > ul {
      margin-left: 18px;
    }
  }

  &__info {
    display: flex;
    margin: 30px auto 0 auto;

    &Container {
      display: flex;
      margin: 0 15px;

      & > svg {
        margin-right: 5px;
      }

      & > p {
        margin-top: auto;
      }

      &:first-child {
        margin-left: 0;
      }
    }
  }
}
